* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* dark */
:root {
  --firist-background-color: linear-gradient(
    360deg,
    #161616,
    #0a0a0a,
    #080808,
    #161616
  );
  --NO_WITHE-COLOR: rgb(255, 255, 255);
  --icon-scroll: #ffffff;
  --icon-color: #000000;
  --hover-color: #fff;
  --hover-background: #000;
  --Not-hover-color: #000000;
  --Not-hover-background: #ffffff;
  --brder-hover-btn: #000;
  --color-td: rgb(157 157 157);
  --backgrond-big-btn: #606060;
  --backround-input: #121212;
  --color-input: #ffff;
  --color-text-input: #fff;
  --backround-input-hover: #000000;
  --background__inpute_search: #232323;
}
/* light */
body.dark-theme {
  --icon-scroll: #000000;
  --icon-color: #ffffff;
  --firist-background-color: #cdcdcd;
  --NO_WITHE-COLOR: rgb(0, 0, 0);
  --hover-color: #000000;
  --hover-background: #ffffff;
  --Not-hover-color: #ffffff;
  --Not-hover-background: #000000;
  --brder-hover-btn: #000;
  --color-td: #000;
  --backgrond-big-btn: #525252;
  --backround-input: #e7e7e7;
  --color-input: #ffff;
  --color-text-input: #000;
  --backround-input-hover: #cbcbcb;
  --background__inpute_search: #e7e7e7;
}

.icon-dark {
  background-color: var(--icon-scroll);
  color: var(--icon-color);
}

.icon-dark:hover {
  background-color: var(--NO_WITHE-COLOR);
  transition: all 0.3s ease;
}

body {
  background: var(--firist-background-color);
  margin: 30px 0px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 20px;
  background-color: var(--Not-hover-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--Not-hover-color);
  height: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--backgrond-big-btn);
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}

.login {
  gap: 21px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.login a {
  text-decoration: none;
}
.btn_login {
  border-radius: 6px;
  background-color: var(--background__inpute_search);
  color: var(--hover-color);
  font-size: 10px;
  font-weight: bold;
  border-bottom: 1px solid #757575;
  font-family: "Montserrat", sans-serif;
  font-family: system-ui;
  outline: none;
  padding: 6px 26px;
  text-transform: capitalize;
  transition: transform 80ms ease-in;
}
.btn_login:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}

.dd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

section {
  margin: 67px 0px 38px;
  width: 100%;
  padding: 0px 98px;
}
@media only screen and (max-width: 1000px) {
  section {
    margin: 67px 0px 38px;
    width: 100%;
    padding: 0px 0px;
  }
}

.text {
  text-align: center;
  color: var(--NO_WITHE-COLOR);
  font-size: 18px;
  font-family: monospace;
  font-family: "Varela Round", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 18px 0;
}

input {
  background: var(--backround-input);
  border: solid #22222200 1px;
  outline: none;
  color: var(--color-text-input);
  padding: 11px 15px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 15px;
  margin: 3px 3px;
}

input:focus {
  background-color: var(--backround-input-hover);
  color: var(--color-text-input);
  /* transform: scale(1.05); */
  transition: all.2s ease;
}

.titel {
  width: 100%;
}

.input-flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

small {
  background: #0f008b;
  color: white;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  border-radius: 7px;
  margin: auto;
  padding: 0 10px;
}

small:before {
  content: "Total :";
  margin: 0px 8px;
  font-family: sans-serif;
}

.input-flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-flex-col input {
  width: 100%;
}

.btn-1 {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  outline: none;
  margin: 4px auto;
  font-size: 16px;
  color: white;
  border: 0.1px solid var(--brder-hover-btn);
  text-transform: capitalize;
  border-radius: 23px;
  background: var(--backgrond-big-btn);
}

.btn-1:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  border: 0.1px solid var(--brder-hover-btn);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 111px;
  align-items: center;
}

.search_section {
  width: 33%;
  position: relative;
}

.output {
  display: block;
}

.output input {
  background: var(--backround-input);
  border-bottom: solid 1px;
  right: 22px;
  color: var(--hover-color);
  width: 100%;
  padding: 9px 34px;
  font-size: 13px;
}

.search {
  transform: rotate(5deg);
  position: absolute;
  color: var(--hover-color);
  top: 12px;
  left: 13px;
  font-size: 17px;
}

.output-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.output-flex button {
  padding: 10px;
  width: 45%;
  margin: 4px 0;
  outline: none;
  font-size: 16px;
  color: white;
  border: none;
  text-transform: capitalize;
  border-radius: 23px;
  background: #606060;
}

.output-flex button:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

table {
  color: white;
  font-size: 20px;
  width: 100%;
  margin: 18px auto;
  font-family: sans-serif;
  text-align: center;
}

table button {
  padding: 9px 0px;
  margin: 9px 0;
  outline: none;
  font-size: 12px;
  width: 79%;
  font-weight: 600;
  color: var(--icon-color);
  border: 0.1px solid var(--brder-hover-btn);
  text-transform: capitalize;
  border-radius: 23px;
  background: var(--hover-color);
}

th {
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: solid 1px #3e3e3e;
  font-weight: 400;
  padding: 6px 5px;
  background: #0000005c;
  border-radius: 2px;
  font-family: system-ui;
}

tbody td {
  color: var(--color-td);
  border-bottom: solid 1px #3e3e3e;
  text-transform: capitalize;
  padding-bottom: 11px;
}

.color_th {
  color: rgb(0, 0, 0);
  border-bottom: solid 1px #3e3e3e;
  padding-bottom: 11px;
  background: lime;
}

.color_td {
  color: rgb(255 255 255);
  border-bottom: solid 1px #3e3e3e;
  padding-bottom: 11px;
  background: #007b00;
}

tbody td button:hover {
  color: var(--hover-color);
  background-color: var(--hover-background);
  border: 0.1px solid var(--brder-hover-btn);
  transition: all 0.2s ease;
}

/* error */
.error_all {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: end;
}

.error {
  margin: 4px;
  font-family: monospace;
  position: absolute;
  word-spacing: -3px;
  color: #ff0000;
  bottom: -3px;
  font-size: 10px;
}

#dataDeletAll {
  display: none;
}

/* list search */

.listAll {
  backdrop-filter: blur(15px);
  /* padding: 29px 14px; */
  background: #1b1b1b00;
  list-style: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  overflow-y: scroll;
  height: auto;
  border: #787878 solid 1px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: none;
}

.listAllData {
  width: 100%;
  font-size: 13px;
  font-family: sans-serif;
  list-style: none;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  color: white;
}

.btn_search {
  width: 100%;
  font-size: 13px;
  font-family: sans-serif;
  list-style: none;
  background: #c20e0e00;
  padding: 15px;
  line-height: 1;
  border: solid #646464 1px;
  display: flex;
  text-transform: capitalize;
  flex-direction: column;
  color: var(--hover-color);
}

.btn_search:hover {
  background: #3f3f3f;
  color: white;
}

/* box confirmation masseg */
.container {
  align-items: center;
  gap: 18px;
  display: flex;
  width: 400px;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.8s ease;
}

.icon {
  justify-content: center;
  display: flex;
  border: 3px solid #f15e5e;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  align-items: center;
  margin: 11px;
}

.container .closs_icon {
  position: absolute;
  right: 17px;
  top: 17px;
  font-size: 17px;
  color: #00000085;
}

.container .closs_icon:hover {
  color: rgb(0, 0, 0);
}

.icon span {
  color: red;
  font-size: 39px;
}

.container hr {
  width: 100%;
}

.container_all {
  transition: all 1s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2390px);
  -webkit-transform: translate(-50%, -2390px);
  -moz-transform: translate(-50%, -2390px);
  -ms-transform: translate(-50%, -2390px);
  -o-transform: translate(-50%, -2390px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.container_all.show {
  transition: all 0.6s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.message {
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  font-weight: 200;
  color: #555555;
  margin: 11px;
}

.container h3 {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  font-weight: 200;
  opacity: 0.8;
  color: #636363;
}

.btn_box {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin: 14px;
}

.button {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
}

.Cancel {
  transition: all 0.3s ease;
  background-color: #c1c1c1;
}

.Cancel:hover {
  color: black;
  border: solid 1px #c1c1c1;
  background-color: white;
  transition: all 0.3s ease;
}

.Delete {
  background-color: #f15e5e;
  transition: all 0.4s ease;
}

.Delete:hover {
  background-color: #ffffff;
  border: #f15e5e solid 1px;
  color: black;
  transition: all 0.4s ease;
}

/* --------------------------------------------------------------------- */

/* box confirmation masseg */
.container2 {
  align-items: center;
  gap: 18px;
  display: flex;
  width: 400px;
  flex-direction: column;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.icon2 {
  justify-content: center;
  display: flex;
  border: 3px solid #f15e5e;
  border-radius: 100px;
  width: 80px;
  height: 80px;
  align-items: center;
  margin: 11px;
}

.container2 .closs_icon {
  position: absolute;
  right: 17px;
  top: 17px;
  font-size: 17px;
  color: #00000085;
}

.container2 .closs_icon:hover {
  color: rgb(0, 0, 0);
}

.icon2 span {
  color: red;
  font-size: 39px;
}

.container2 hr {
  width: 100%;
}

.container_all2 {
  transition: all 1s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -2390px);
  -webkit-transform: translate(-50%, -2390px);
  -moz-transform: translate(-50%, -2390px);
  -ms-transform: translate(-50%, -2390px);
  -o-transform: translate(-50%, -2390px);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
}

.container_all2.show {
  transition: all 0.6s ease;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
}

.message2 {
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  font-weight: 200;
  color: #555555;
  margin: 11px;
}

.container2 h3 {
  font-size: 14px;
  font-family: "Varela Round", sans-serif;
  font-weight: 200;
  opacity: 0.8;
  color: #636363;
}

.btn_box2 {
  display: flex;
  flex-direction: row;
  gap: 14px;
  margin: 14px;
}

.button2 {
  color: #fff;
  border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  line-height: 1.5;
  border-radius: 0.25rem;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  min-width: 120px;
  border: none;
  min-height: 40px;
  border-radius: 3px;
}

.Cancel2 {
  transition: all 0.3s ease;
  background-color: #c1c1c1;
}

.Cancel2:hover {
  color: black;
  border: solid 1px #c1c1c1;
  background-color: white;
  transition: all 0.3s ease;
}

.Delete2 {
  background-color: #f15e5e;
  transition: all 0.4s ease;
}

.Delete2:hover {
  background-color: #ffffff;
  border: #f15e5e solid 1px;
  color: black;
  transition: all 0.4s ease;
}

.elementNumber input {
  width: 290px;
}

/* -------------------------------------------------------------------------------- */
/* 0f008b */
@media only screen and (max-width: 545px) {
  input {
    background: var(--backround-input);
    border: solid #22222200 1px;
    outline: none;
    color: var(--color-text-input);
    padding: 11px 15px;
    border-radius: 7px;
    font-weight: 700;
    font-size: 12px;
    margin: 3px 3px;
  }
  table button {
    padding: 9px 0px;
    margin: 9px 0;
    outline: none;
    font-size: x-small;
    width: 100%;
    font-weight: 600;
    color: var(--icon-color);
    border: 0.1px solid var(--brder-hover-btn);
    text-transform: capitalize;
    border-radius: 3px;
    background: var(--hover-color);
  }
  tbody td {
    color: var(--color-td);
    border-bottom: solid 1px #3e3e3e;
    text-transform: capitalize;
    padding-bottom: 11px;
    font-size: x-small;
  }
  th {
    font-size: x-small;
    text-transform: capitalize;
    border-bottom: solid 1px #3e3e3e;
    font-weight: 400;
    background: #0000005c;
    border-radius: 2px;
    font-family: system-ui;
  }
  .login {
    display: none;
  }
  .search_section {
    width: 100%;
    position: relative;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    padding: 0px 111px;
    align-items: center;
  }
  .error_all {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: end;
  }
  .error_all input {
    width: 85%;
    margin: 4px auto;
  }
  .elementNumber input {
    width: 85%;
    margin: 4px auto;
  }

  small {
    background: #0f008b;
    color: white;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 7px;
    width: 80%;
    margin: 4px auto;
    padding: 0 10px;
  }
  .btn-1 {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    outline: none;
    margin: 4px auto;
    font-size: 16px;
    color: white;
    border: 0.1px solid var(--brder-hover-btn);
    text-transform: capitalize;
    border-radius: 7px;
    background: var(--backgrond-big-btn);
  }
}
